@* burada textleri doldur (model viewe nasıl yansıtılır)*@
@model UpdateProductDto

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 col-md-6 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4>Ürün Güncelleme Sayfası</h4>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Product" asp-action="UpdateProduct">
                
                <div class="form-group">
                    
                    <input type="hidden" name="ProductId" class="form-control" value="@Model.ProductId">
                    <label>Ürün Adı :</label>
                    <input type="text" name="ProductName" class="form-control" value="@Model.ProductName" >
                    <br />
                    
                    <label>Ürün Tanımı :</label>
                    <input type="text" name="ProductDescription" class="form-control" value="@Model.ProductDescription">
                    <br />
                    
                    <label>Ürün Fiyatı :</label>
                    <input type="text" name="Price" class="form-control" value="@Model.Price">
                    <br />
                    
                    <label>Ürün Kategorisi : </label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                        <option value=""> --Kategori Seçiniz--</option>
                    </select>
                    <br />
                    
                    <label>Ürün Resmi :</label>
                    <input type="text" name="ImageURL" class="form-control" value="@Model.ImageURL">
                    <br />

                    @if (!string.IsNullOrEmpty(Model.ImageURL))
                    {
                        <div>
                            <label>Mevcut Ürün Resmi:</label><br />
                            <img src="@Model.ImageURL" alt="Ürün Resmi" style="max-width:200px;max-height:200px;" />
                        </div>
                    }

                </div>
                <button class="btn btn-primary">Ürünü Güncelle</button>
            </form>
        </div>
    </div>
</div>